@tailwind base;
@tailwind components;
@tailwind utilities;
body *{
  margin-left:0px;
  padding-left:0px;
}
p{
  font-family:'Poppins', sans-serif;
}

.animate-character {
    background-image: linear-gradient(
      -300deg,
      #F1E8E0 0%,
      #01244e 29%,
      #99b0cd 67%,
      #F1E8E0 100%
    );
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 8s linear 3 forwards, revertColor 0s 8s forwards; /* Stop at solid color after animation */
    display: inline-block;
    
  }
  
  
  @keyframes textclip {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: 0% center;

    }
  }
  
  @keyframes revertColor {
    0% {
      background-image: linear-gradient(
        -300deg,
        #F1E8E0 0%,
        #01244e 29%,
        #99b0cd 67%,
        #F1E8E0 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background-image: none; /* Remove the gradient */
      color: #F1E8E0; /* Solid color after animation */
      -webkit-background-clip: none; /* Remove background clip */
      -webkit-text-fill-color: #F1E8E0; /* Solid color for text */      

    }
  }
 
  .animate-character2 {
    background-image: linear-gradient(
      -300deg,
      #F1E8E0 0%,
      #01244e 29%,
      #99b0cd 67%,
      #F1E8E0 100%
    );
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip2 4s linear 2 forwards, revertColor2 0s 8s forwards,textclip2; /* Stop at solid color after animation */
    display: inline-block;
    margin:0px 4px;
    
  }
  
  
  @keyframes textclip2 {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: 0% center;

    }
  }
  
  @keyframes revertColor2 {
    0% {
      background-image: linear-gradient(
        -300deg,
        #F1E8E0 0%,
        #01244e 29%,
        #99b0cd 67%,
        #F1E8E0 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background-image: none; /* Remove the gradient */
      color: #F1E8E0; /* Solid color after animation */
      -webkit-background-clip: none; /* Remove background clip */
      -webkit-text-fill-color: #01244e; /* Solid color for text */      

    }
  }
  /*WAVE CSS*/
 
  .wave-text span {
    display: inline-block;
    font-size: 4rem;
    font-weight:400;
    animation: wave 4s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*WAVE-SHAPE TEXT*/
.shape-wave {
  float: left;
  shape-outside: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
  width: 6rem;
  height: 100%;
  -webkit-shape-outside: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
}


.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}


.gradient-background {
  background: linear-gradient(300deg, white,rgb(243, 252, 255), white,white);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.fade-in {
  animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}